body {
	font-family: "Outfit", sans-serif;
}

.current-conditions-wrapper {
	margin: 0px;
	padding-top: 1px;
}

.container {
	background-color: #f7dbf0;
	max-width: 480px;
	margin: 12px auto;
	padding: 21px 30px;
	border-radius: 12px;
}

.form-control {
	background: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	border-width: 2px;
	border-color: black;
	border-radius: 0px;
	padding: 0px;
	font-weight: 300;
}

.btn-primary {
	background: rgba(57, 162, 219, 1);
	padding: 3px 9px;
	border: none;
	border-radius: 4px;
	font-size: 15px;
}

.btn-primary:hover {
	background: #2f3a8f;
}

h5 {
	margin: 0;
}

.date-time {
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
}

.main-temps {
	margin: 150px auto;
	text-align: center;
}

.main-temp-number {
	font-size: 90px;
	line-height: 99px;
}

.main-unit {
	font-size: 24px;
	font-weight: 400;
}

.hi-lo {
	display: block;
	line-height: 21px;
	font-size: 15px;
	font-style: italic;
	font-weight: 400;
}

.row .current-conditions {
	color: white;
}

.current-conditions img {
	width: 20%;
}

.current-conditions p {
	margin: 0px;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

.current-conditions ul {
	padding: 0px;
	margin: 0px;
}

.current-conditions li {
	list-style: none;
	font-size: 15px;
	font-weight: 300;
	text-align: left;
	line-height: 21px;
}
