html {
	background: url(https://i.imgur.com/xytDn7W.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	background: none;
	font-family: "Outfit", sans-serif;
}

.current-metrics {
	padding-left: 36px;
	padding-right: 0px;
}

.weather-app-wrapper {
	margin: 12px auto;
	max-width: 480px;
	padding: 0px;
	border-radius: 6px;
	box-shadow: 0px 6px 30px 6px rgba(0, 0, 0, 0.5);
}

.container {
	padding: 0px;
}

.current-weather {
	background-color: #f7dbf0;
	padding: 21px 30px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.form-control {
	background: transparent;
	border-top: none;
	border-right: none;
	border-left: none;
	border-width: 2px;
	border-color: black;
	border-radius: 0px;
	padding: 0px;
	font-weight: 300;
}

.btn-primary {
	background: rgba(57, 162, 219, 1);
	padding: 3px 9px;
	border: none;
	border-radius: 4px;
	font-size: 15px;
}

.btn-primary:hover {
	background: #2f3a8f;
}

.units {
	padding: 0px;
	font-weight: 200;
	font-size: 18px;
}

.units a {
	text-decoration: none;
	color: black;
}

.units a:hover {
	text-decoration: underline;
}

.bold {
	font-weight: 500;
}

h5 {
	margin: 0;
}

.date-time {
	font-size: 15px;
	font-weight: 300;
	line-height: 18px;
}

.main-temps {
	margin: 90px auto;
	text-align: center;
}

.main-temp-number {
	font-size: 84px;
	font-weight: 800;
	line-height: 75px;
}

.main-unit {
	font-size: 24px;
	font-weight: 700;
}

.hi-lo {
	display: block;
	text-align: center;
	font-size: 18px;
	font-style: italic;
	font-weight: 400;
}

.main-temps .hi-temp {
	display: block;
}

.current-conditions {
	align-items: end;
}

.current-conditions img {
	width: 27%;
}

.current-conditions p {
	margin: 0px;
	padding-left: 9px;
	font-size: 15px;
	font-weight: 300;
	line-height: 30px;
}

.current-conditions ul {
	padding: 0px;
	margin: 0px;
}

.current-conditions li {
	list-style: none;
	font-size: 15px;
	font-weight: 300;
	text-align: left;
	line-height: 21px;
}

.forecast-weather {
	background: #b8cbf4;
	max-width: 480px;
	margin: 0px auto 12px;
	padding: 21px 30px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}

.forecast-temperatures {
	text-align: center;
}

.forecast-col {
	margin: 21px auto;
}

.forecast-date {
	font-size: 18px;
	font-weight: 300;
	line-height: 15px;
	color: #334357;
}

.forecast-temperatures img {
	margin: 12px auto;
}

.forecast-temps {
	font-size: 14px;
	font-weight: 300;
	color: #334357;
}

.forecast-hi {
	font-weight: 500;
}

.container .footer {
	max-width: 480px;
	margin: 12px auto 30px;
	padding: 0px 9px;
	border-radius: 12px;
}

.credit-text {
	text-decoration: none;
	color: rgba(57, 162, 219, 1);
}

.credit-text:hover {
	color: #2f3a8f;
}

.footer-text {
	color: white;
}
